gradle/** linguist-vendored
gradlew linguist-vendored
gradlew.bat linguist-vendored
sbcl*/** linguist-vendored
zstd-headers/** linguist-vendored
build-scripts/** -linguist-detectable
settings.gradle -linguist-detectable
build.gradle -linguist-detectable
AndroidManifest.xml -linguist-detectable
